#pagebody {
	background-image: url(./Images/Background/background_03.jpg); 
	font-family: sans-serif;
	color: yellow;
	}
#gallery_container {
	background-image: url(./Images/Background/deathstar_tile.jpg);
	width: 1200px;
	border: 10px solid;
	border-color: blue;
	margin: auto;
	font-family: sans-serif;
	color: yellow;
	padding: 50px;
	text-align: center;
}
img {
	width:540px;
	height: auto;
	border: 2px solid;
	border-color: darkred;
	
}
nav {
	font-family: sans-serif;
	color: yellow;
}
#foot {
	background-image: url(./Images/Background/Laser.jpg);
	margin: auto;
	width: 800px;
	border: 10px solid;
	border-color: grey;
	text-align: center;
}

#address {
	text-align: center;
}

#gallery {
	text-align: center;
	font-size: 40px;
}

#nav {
	text-align: center;
	padding: 20px;
}
#Header {
	text-align: center;
	font-size: 80px;
}
